<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<style>
  .teknoup-title {
    text-align: center;
    margin-top: 100px;
  }
</style>
<div>
  <div class="teknoup-title">
    <h1><%= __('Tekno UP API Test') %></h1>
  </div>
</div>
